/* ?듯빀寃??*/

.totalSearch {
    width: 10rem;
    height: 1.9rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.totalSearch:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    border: 2px solid #e4e4e4;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.totalSearch input {
    padding: 0 2.25rem 0 0.5rem;
    width: 100%;
    height: 1.9rem;
    line-height: 1.9rem;
    font-size: 0.6rem;
    border: none;
    font-family: '?뗭?', Dotum;
    background: none;
}

.totalSearch button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    background: #007a9f;
    border-radius: 0.7rem;
    width: 1.9rem;
    height: 1.9rem;
    line-height: 1.9rem;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    /*.9rem */
}

.totalSearch input::-webkit-input-placeholder {
    color: #555;
}

.totalSearch input::placeholder {
    color: #555;
}

#header:before {
    display: none;
}

/* header ?섎떒 ?쇱씤 */

/* gnb color */

/* gnb : default */

#gnb {
    background: #007a9f;
}

/* gnb 諛곌꼍??*/

#gnb .depth01>ul>li.on>a {
    color: #fff !important;
}

/* 1李⑤찓??active ?띿뒪???됱긽 */

#gnb .depth01>ul>li>a {
    color: #fff;
}

/* 1李⑤찓???띿뒪???됱긽 */

#gnb .depth01>ul>li>a:before {
    background: #fff;
}

/* 1李⑤찓??active underline ?됱긽*/

#gnb .depth01>ul>li>a>span:before {
    background: rgba(255, 255, 255, 0.15);
}

/* 1李⑤찓??active 洹몃┝???됱긽 */

#gnb .depth02>ul>li>a {
    color: #111;
}

/* 2李⑤찓???띿뒪???됱긽 */

/* gnb : fullDown */

#nav.fullDown #gnb:before {
    height: 1px;
    background: transparent;
}

/* 硫붾돱?섎떒?쇱씤 */

#nav.fullDown .active .depth01>ul>li>a {
    color: #fff;
}

#nav.fullDown .depth02>ul>li>a:hover,
#nav.fullDown .depth02>ul>li>a:focus,
#nav.fullDown .depth02>ul>li.active>a {
    color: #fff;
    background: #007a9f;
}

/* 2李⑤찓??active ?④낵 */

/* gnb : oneDown */

#nav.oneDown #gnb:before {
    height: 1px;
    background: transparent;
}

/* 硫붾돱?섎떒?쇱씤 */

#nav.oneDown .depth02 {
    border: 2px solid #007a9f;
}

/* 2李⑤찓??border-color */

#nav.oneDown .depth02>ul>li>a:hover,
#nav.oneDown .depth02>ul>li>a:focus,
#nav.oneDown .depth02>ul>li.dep.active>a {
    color: #007a9f;
    font-weight: 600;
}

/* 2李⑤찓??active ?띿뒪???됱긽 */

/* gnb : oneFull */

#nav.oneFull #gnb:before {
    height: 1px;
    background: transparent;
}

/* 硫붾돱?섎떒?쇱씤 */

#nav.oneFull .depth02>ul>li>a:hover,
#nav.oneFull .depth02>ul>li>a:focus,
#nav.oneFull .depth02>ul>li.dep.active>a {
    color: #fff;
    background: #007a9f;
}

/* 2李⑤찓??active 諛곌꼍??*/

#nav.oneFull .depth03>ul>li>a:before {
    background: #007a9f;
}

/* 3李⑤찓??釉붾┸ ?됱긽 */

/* footer */

#footer {
    border-top: 1px solid #d1d8e4;
    color: #000;
    background: #fff;
}

/* footer 諛곌꼍, ?고듃?됱긽, border */

.footer_link li a:before {
    border-left: 1px solid #bbb;
}

/* footer link ?곸뿭 ?쇱씤?됱긽 */

.footer_link li a {
    color: #000;
}

.footer_link li a strong {
    color: #0e8de7;
}

/* footer link 媛뺤“ ?고듃?됱긽 */

#footer address {
    color: #000;
}

#footer .copyright {
    color: #717070;
}

/* copyright ?고듃?됱긽 */

#footer .btn_top {
    background: #0e8de7;
    color: #fff;
}

/* footer ?곷떒?대룞 踰꾪듉 ?됱긽 */

/* 諛⑸Ц?먯닔 */

.visitant {
    background: #0e8de7;
}

.visitant ul li {
    color: #fff;
}

.visitant ul li strong {
    color: #fff;
}

.visitant ul li+li:before {
    border-left: 1px solid #ccc;
}

/* moblie  */

#header .mBtn.mSearch {
    border-radius: 0.8rem;
    background: #007a9f;
    color: #fff;
}

/* 紐⑤컮??寃??踰꾪듉 */

#header .mBtn.mNav {
    border-radius: 0.8rem;
    background: #ff5e6b;
    color: #fff;
}

/* 紐⑤컮??硫붾돱 踰꾪듉 */

/* moblie navigation  */

#mNav #mNavClose {
    border-radius: 0.8rem;
    background: #ff5e6b;
    color: #fff;
}

/* 紐⑤컮??硫붾돱 ?リ린 踰꾪듉 */

#mgnb .depth02 {
    background: #f7faff;
}

/* 2李⑤찓??諛곌꼍 */

#mgnb .depth02>ul>li:before {
    background: #ff5e6b;
}

/* 2李⑤찓??釉붾┸ ?됱긽*/

#mgnb .depth03 {
    border-top: 2px solid #ff5e6b;
}

/* 3李⑤찓??border ?됱긽 */

#mgnb .depth01>ul>li.active>a {
    color: #fff;
    background-color: #ff5e6b;
}

/* 1李⑤찓??active */

#mgnb .depth02>ul>li.active>a {
    color: #ff5e6b;
}

/* 2李⑤찓??active */

/* moblie search  */

#mSearch .btnSearch {
    background: #007a9f;
    color: #fff;
}

#mSearch .btnClose {
    border-radius: 0.8rem;
    background: #007a9f;
    color: #fff;
}